@import "bootstrap";

body {
  background: asset_url("bg.png") center fixed;
  background-size: cover;
}

h1 {
  color: $white;
}

.table-plain {
  th, td {
    border: 0 !important;
  }
}

@include media-breakpoint-only(xs) {
  .main {
    border-radius: 0;

    .card-body {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
