doctype html
html lang=I18n.locale
  head
    title TracknTrace
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'https://use.fontawesome.com/771426826d.js'
    = javascript_include_tag 'application'
    = javascript_pack_tag    'application'
    = csrf_meta_tags

body
  = yield
